{
    "presets": [
        [ "env", {
            "targets": {
                "electron": 1.4
            }
        }]
    ],
    "plugins": [
        "transform-react-jsx",
        "transform-object-rest-spread",
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties",
        "syntax-async-functions",
        "transform-regenerator"
    ]
}
